{% extends 'base.html' %}

{% block content %}

<div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
      </ol>
    </nav>
    <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.title }}</h3>
        <p>Цена: {{ product.price }} руб.</p>
        <p>Описание: {{ product.description }}</p>
        <hr>
        {% if user.is_authenticated %}
        <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
        {% endif %}
    </div>
    <p class="mt-4">Характеристики:</p>
    {% if product.category.slug == 'notebooks' %}
        {% include 'notebook_specification.html' %}
    {% else %}
        {% include 'smartphone_specification.html' %}
    {% endif %}
</div>


{% endblock content %}