<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type}}</td>
    </tr>
    <tr>
      <td>Частота процессора</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
    <tr>
      <td>Оперативная паямть</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Обьем памяти</td>
      <td>{{ product.memory_volume }}</td>
    </tr>
    <tr>
      <td>Главная камера</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Фронатльная камера</td>
      <td>{{ product.front_camp_mp  }}</td>
    </tr>
    <tr>
      <td>Обьем батареи</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
  </tbody>
</table>
